.cover__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 20.69% auto auto; 
}

@media screen and (max-width: 1279px) {
    .cover__text {
        margin: calc(195/1024*100%) auto auto;
    }
}

@media screen and (max-width: 1023px) {
    .cover__text {
        margin: calc(115/768*100%) auto auto;
    }
}

@media screen and (max-width: 767px) {
    .cover__text{
        margin: calc(115/768*100%) 16px auto;
        /*max-width: calc(100% - 32px);*/
    }
}

@media screen and (max-width: 374px) {
    .cover__text{
        margin: calc(33/320*100%) 16px auto;
        /*max-width: calc(100% - 32px);*/
    }
}